body {
    font-family: Arial, sans-serif;
    background-color: rgb(3, 71, 143);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    background-color: rgb(58, 135, 168);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 3px solid skyblue;
    box-shadow: 0px 0px 22px skyblue;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    color: white;
  }
  
  input[type="text"],
  input[type="password"]{
      background-color: rgb(58, 135, 168);
      
  }
  
  input[type="text"]::placeholder,
  input[type="password"]::placeholder{
      color: white;
  }
  
  input[type="submit"] {
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover{
      background-color: #274f79;
  }
  
  .input-group {
    text-align: left;
  }
  
  .other-options {
    margin-top: 20px;
  }
  
  .social-media-icons {
    margin-top: 10px;
  }
  
  .social-media-icons a {
    margin: 0 5px;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
  }
  
  a:hover {
    text-decoration: underline;
  }